
.container{
  background-color: var(--card-container);
    width: 318px;
    /* height: 453px; */
    padding: 20px;
    color: white;
    box-shadow: -2px 6px 48px -1px rgba(0,0,0,0.58);
    /* padding-bottom: 40px; */
    margin-bottom: -57px;
    z-index: 20;
    cursor: pointer;
    border-radius: 10px;
}


.title{
  display: flex;
  font-size: 25px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;

}

.card{
  display: flex;
  background-color: var(--innerCard);
  justify-content: center;
  align-items: center;
  height: 350px;
  border-radius: 20px;
}

img{
  width: 400px;
}

.container-type{
  margin-top: 25px;
}

span{
  display: flex;
  justify-content: center
}

span>p{
  margin-right: 5px;
  width: min-content;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
}

.container-input{
  padding: 20px;
  width: min-content;
  background-color: #616161;
  display: flex;
  align-items: center;
  gap: 10px

  }

  .container-input > input{
    height: 30px;
    padding: 20px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    border: 0px;
    box-shadow: -2px 6px 48px -1px rgba(0,0,0,0.58);
    font-family: Arial, Helvetica, sans-serif;

  }

  section{
    background-color: #616161;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    gap: 20px;
    padding-top: 50px;
  }


button{
  position: relative;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}


  button:hover{
    background-color:  #45a049 ;
    box-shadow: -5px 12px 25px -5px rgba(0,0,0,0.75);
    top:-5px
  }


