@font-face{
  font-family: 'joistix';
  src: url('../../../assets/fonts/joystix monospace.otf') format('opentype');
}



.modal {
  height: 100%;
  width: 100vw;
  transition: 2s ease-in-out;
}



.progress-bar {
  --progress: 0;
  height: 5px;
  /* padding: 2px; */
  display: flex;
  width: 50%;
  border-radius: 20px;
}

h3{
  text-align: center;
}


.progress-bar::before {
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl(calc(var(--progress) * 5.5), 80%, 50%);
  border-radius: 10px;
  height: 10px;
}

.stats {
  border-radius: 0.625rem;
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  padding-top: 30px;
  margin-top: 0px;
}

.stats .infoStats {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stats .infoAbout{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.container-infoAbout{
  width: 80%;
}



.container-infoStats{
  width: 80%;
}

.stats p {
  padding: 0.25rem 0;
  font-size: 0.525rem;
  margin: 0px;
  /* width: 60px; */
  font-family: "Montserrat", sans-serif;

}

.stats ol {
  width: 100%;
  margin: 10px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats h3 {
  font-family: 'joistix',"Montserrat", sans-serif;
  margin: 0px;
  font-size: 50px;
  padding: 5px;
  font-weight: 900;
}


.infoAbout p:first-child{
  font-size: 15px;
  font-family: 'joistix',"Montserrat", sans-serif;
  font-weight:100 ;
}


.infoAbout p:nth-child(n+2){
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:100 ;
  text-align: end;
}

.infoStats p{
  font-size: 15px;
  font-family: 'joistix',"Montserrat", sans-serif;
  font-weight:100 ;
}

@media only screen and (min-width: 600px){
  .modal{
    width: 100%;
  }
}

.visible{
  opacity: 1;
  max-height: 100%;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.hidden{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
