
  <span class="material-symbols-outlined" (click)="click = !click">
    menu
  </span>

<div class="card-contato" [ngClass]="click?'visible':'hidden' ">
  <h2>Sobre</h2>
  <ul>
    <li>
      <p>Angular: Utilizamos o Angular como nosso framework de desenvolvimento front-end</p>
    </li>
    <li>
      <p>HttpClient: Aproveitamos o módulo HttpClient do Angular para realizar requisições HTTP eficientes.</p>
    </li>
    <li>
      <p>Integração com a PokeAPI: Nosso site se conecta à PokeAPI. Usando o nome do Pokémon como parâmetro, fazemos uma requisição GET para obter detalhes como tipo e stats</p>
    </li>
  </ul>
  <h2>Contato</h2>
  <div class="icons">
    <a  href="https://linkedin.com/in/viniciusaamorim"  target="blank"><img  align="center"  src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg"  alt="vinícius-amorim"  height="30"  width="40" /></a>
    <a  href="https://instagram.com/vinicius_aamorim/"  target="blank"><img  align="center"  src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg"  alt="@vinicius_aamorim"  height="30"  width="40" /></a>
  </div>
</div>
